.DS_Store
test2.pdf
testing.py
test.pdf
PayCAT-shelf.db
server.log
test.py
TESTING/*
__pycache__/*
ads.py
test-nsurg.py
test-OPH.py
test-payroll.py
jeff.py
bigtest.py
PayCAT-shelf-settings.db
static/.DS_Store
static/pictures/old/*
typea.py
uttest.py
build/*
dist/*
app.spec
PayCat.spec
static/make icns/*
samtet.py
22.py
desting.py
templates/test.html
*.xlsx
