.sam-payslip-theme {
  background-color: #E0CFFC !important;
}

.sam-payslip-theme-light {
  background-color: #F0E8FC !important;
}

.sam-roster-theme {
  background-color: #F4C4D4 !important;
}

.sam-roster-theme-light {
  background-color: #F4DEE5 !important;
}