<!doctype html>
<html lang="en" data-bs-theme="auto">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PayCAT</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-5.3.2-dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}">

        <!-- SCRIPTS -->
    <script src="{{ url_for('static', filename='bootstrap-5.3.2-dist/js/bootstrap.bundle.min.js') }}"></script>

    <script type="module" src="{{ url_for('static', filename='md-block.js') }}"></script>
    <script type="text/javascript" src="/static/jquery.min.js"></script>

  </head>
  <body style="background-color: var(--bs-gray-200)">

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <div class="container-fluid">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link" href="/">Back</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-2 d-none d-lg-block d-xl-block"></div>
        <div class="col-lg bg-white">
          <div class="row">
            <div class="col m-2">
              <div class="d-grid">
                <a class="btn btn-outline-secondary" id="dl-button" href="{{ url_for('static', filename='user-help.md') }}">Download this help document</a>
              </div>
            </div>
          </div>
          <div class="flex m-4">
            <md-block src="{{ url_for('static', filename='user-help.md') }}"></md-block>
          </div>
        </div>
        <div class="col-2 d-none d-lg-block d-xl-block"></div>
      </div>
    </div>
  </body>