<!doctype html>
<html lang="en" data-bs-theme="auto">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PayCAT</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-5.3.2-dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}">

        <!-- SCRIPTS -->
    <script type="text/javascript" src="/static/jquery.min.js"></script>
    <script type="text/javascript" src="/static/custom.js"></script>

    <script src="{{ url_for('static', filename='popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap-5.3.2-dist/js/bootstrap.bundle.min.js') }}"></script>

    <script type="text/javascript">
      // NOT CURRENTLY WORKING:
      const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
      const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
    </script>


    <!--
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    -->

  </head>
  <body style="background-color: var(--bs-gray-200)">

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="btn btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#side-bar-collapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#"><b id="navbarTitle">PayCAT-</b></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item dropdown" hidden>
          <!--  -->
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            New
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#" onclick="newPDF();">Payslip...</a></li>
            <li><a class="dropdown-item" href="#">Roster...</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="modal" data-bs-target="#newEntryModal" role="button" onclick="clearFileSelect()">New</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href='#' onclick="exportData()">Export</a>
        </li>
      </ul>
      <ul class="navbar-nav mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link" data-bs-toggle="modal" data-bs-target="#settingsModal" role="button" onclick="loadExistingSettings()">Configure</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Main container (body) -->
<div class="container-fluid">
  <div class="row">
    <!-- SIDEBAR -->
    <div class="col-auto gx-0">
      <div class="collapse collapse-horizontal show" id="side-bar-collapse">
        <div class="list-group list-group-flush border border-2 p-0" id='side-bar-listgroup' style="width: 300px;"> <!-- forced width due to stuttering animation bug on horizontal collapsing. -->
          <li class="list-group-item bg-body-tertiary" id="side-bar-header"> 
            <span class="fs-4 fw-semibold">Studies</span>
          </li>
        </div>
      </div>
    </div>
    <!-- Content column -->
    <div class="col gx-3 p-2" id="content-column">
    </div>
  </div>
</div>

<!-- Perma-hidden storage div for all templates -->
  <div hidden id="template-storage">
    
    <!-- HEADER - payslip -->
    <div class="p-3 rounded sam-payslip-theme border border-2 border-secondary-subtle" id="payslip-header">
      <div class="row">
        <div class="col px-2">
          <p class="h2 fw-bold" id="header-PPE">PPE DD-MM-YYYY</p>
          <span class="fw-light fst-italic text-wrap" id="header-name-employer">NAME / EMPLOYER</span>
          <br>
          <span class="fw-light fst-italic">PAYSLIP</span>
        </div>
        <div class="col-auto px-2 text-end">
          <p class="h2 text-success fw-bold" id="header-totalPTI">$----.--</p>
          <span class="fw-light fst-italic">Taxable income this period</span>
        </div>
      </div>
    </div>

    <!-- HEADER - roster -->
    <div class="p-3 rounded sam-roster-theme border border-2 border-secondary-subtle" id="roster-header">
      <div class="row">
        <div class="col px-2">
          <p class="h2 fw-bold" id="header-PPE">PPE DD-MM-YYYY</p>
          <span class="fw-light fst-italic text-wrap" id="header-name-employer">NAME / EMPLOYER</span>
          <br>
          <span class="fw-light fst-italic">ROSTER</span>
        </div>
        <div class="col-auto px-2 text-end">
          <p class="h2 text-success fw-bold" id="header-totalPTI">$----.--</p>
          <span class="fw-light fst-italic text-wrap">Taxable income this period</span>
        </div>
      </div>
    </div>

    <!-- #viewMode body - single card column. -->
    <div class="row py-2 mx-0" id="viewMode-body">
      <!-- Only column. -->
      <div class="col" id='card-container'>
        <!-- TEMPLATE CARD -->
        <div class="card my-1" id='item-template' hidden>
          <div class="card-header" role="button" data-bs-toggle="collapse" href="#collapseID">
            <div class="row">
              <div class="col">
                <span id='item-date' class="card-title fw-medium py-1 fs-4">DD-MM-YYYY</span>
              </div>
              <div class="col text-end">
                <span class="text-success fw-medium fs-4" id='item-total'>$--.--</span>
              </div>
            </div>
          </div>
          <div class="collapse" id="collapseID">
            <div class="card card-body py-2" id='item-entry-container'>
              <div class="row align-items-center" id='item-entry' hidden>
                <div class="col-auto">
                 <span class="fw-light fs-6 fst-italic" id='item-description'>--</span>
                </div>
                <div class="col text-start">
                  <span class="fw-lighter fs-6 fst-italic text-secondary" id='item-unitsrate'>(--.-- @ --.--)</span>
                </div>
                <div class="col-3 text-end">
                <span class="fw-medium fs-6" id='item-amount'>$--.--</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- OLD #compareMode - double card columns. Still used! Don't delete -->
    <div class="row py-2 mx-0">
      <div class="col" id="compareMode-body">
        <!-- HEADER ROW -->
        <div class="row" id='header-rowcol'>
          <div class="col" id='card-container-left'>
            <!-- TEMPLATE CARDS -->
            <div class="card my-1" id='item-template-payslip' hidden>
              <div class="card-header sam-payslip-theme-light" role="button" data-bs-toggle="collapse" href="#collapseID">
                <div class="row">
                  <div class="col">
                    <span id='item-date' class="card-title fw-medium py-1 fs-4">DD-MM-YYYY</span>
                  </div>
                  <div class="col text-end">
                    <span class="text-success fw-medium fs-4" id='item-total'>$--.--</span>
                  </div>
                </div>
              </div>
              <div class="collapse" id="collapseID">
                <div class="card card-body py-2" id='item-entry-container'>
                  <div class="row align-items-center" id='item-entry' hidden>
                    <div class="col-auto">
                     <span class="fw-light fs-6 fst-italic" id='item-description'>--</span>
                    </div>
                    <div class="col text-start">
                      <span class="fw-lighter fs-6 fst-italic text-secondary" id='item-unitsrate'>(--.-- @ --.--)</span>
                    </div>
                    <div class="col-3 text-end">
                    <span class="fw-medium fs-6" id='item-amount'>$--.--</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card my-1" id='item-template-roster' hidden>
              <div class="card-header sam-roster-theme-light" role="button" data-bs-toggle="collapse" href="#collapseID">
                <div class="row">
                  <div class="col">
                    <span id='item-date' class="card-title fw-medium py-1 fs-4">DD-MM-YYYY</span>
                  </div>
                  <div class="col text-end">
                    <span class="text-success fw-medium fs-4" id='item-total'>$--.--</span>
                  </div>
                </div>
              </div>
              <div class="collapse" id="collapseID">
                <div class="card card-body py-2" id='item-entry-container'>
                  <div class="row align-items-center" id='item-entry' hidden>
                    <div class="col-auto">
                     <span class="fw-light fs-6 fst-italic" id='item-description'>--</span>
                    </div>
                    <div class="col text-start">
                      <span class="fw-lighter fs-6 fst-italic text-secondary" id='item-unitsrate'>(--.-- @ --.--)</span>
                    </div>
                    <div class="col-3 text-end">
                    <span class="fw-medium fs-6" id='item-amount'>$--.--</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col" id='card-container-right'>
          </div>
        </div>
        <!-- BODY ROW -->
        <div class="row" id="body-rowcol">
          <div class="col" id='card-container-left'>
          </div>
          <div class="col" id='card-container-right'>
          </div>
        </div>
      </div>
    </div>

    <!-- NEW !! #compareMode Template - NOT CHANGED IDS YET -->
    <div class="row py-2 mx-0" id="compareMode-body-new"> <!--newID-->
      <div class="col">
        <!-- HEADER ROW -->
        <div class="row mb-3" id='header-rowcol'>
          <div class="col" id='card-container-left'>
          </div>
          <div class="col" id='card-container-right'>
          </div>
        </div>
        <!-- BODY ROW -->
        <div class="row">
          <div class="col" id="body-rowcol">
            <div class="row mb-3">
              <div class="col text-center">
                <div id="discrepancies-header" class="h3 text-secondary rounded rounded-2 bg-body-secondary border border-3 p-2">DISCREPANCIES</div>
                 <div class="row">
                  <div class="col">
                    <div class="d-grid">
                      <button class="btn btn-sm sam-faintgrey-btnoutline border border-3 text-secondary fw-semibold" type="button" onclick="changeAllCollapses('body-rowcol','show')">EXPAND ALL</button>
                    </div>
                  </div>
                  <div class="col">
                    <div class="d-grid">
                      <button class="btn btn-sm border border-3 sam-faintgrey-btnoutline text-secondary fw-semibold" type="button" onclick="changeAllCollapses('body-rowcol','hide')">COLLAPSE ALL</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div hidden class="row mb-3" id='full-comparison-header'>
              <div class="col text-center">
                <div class="h3 text-grey text-secondary rounded rounded-2 bg-body-secondary border border-3 p-2">FULL COMPARISON</div>
              </div>
            </div>
            <div hidden class="row" id='global-alert-template'> 
              <div class="col">
                <div class="alert alert-warning" role="alert">
                  <img src="{{ url_for('static', filename='/icons/exclamation-triangle.svg') }}" role="img" style='scale: 1.2; opacity: 0.5; transform: translate(-3px,-2px);'>
                  <span id='alert-text'> 
                  </span>
                </div>
              </div>
            </div>

            <div id="notice-template" hidden> <!-- noticeID -->
              <div class="row">
                <div class="col">
                  <div class="h2" id="notice-header-badges">
                    <!-- badges live here -->
                  </div>
                  <div class="collapse" id="notice-header-collapse">
                    <span class="fw-light" id='badge-desc' hidden><br></span>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col" id="notice-body-left">

                  <div hidden class="card my-1 bg-body-secondary border-0" id='item-template-ghost' >
                    <div class="card-header rounded-bottom-2 border border-1 card-border-colour-hack bg-body-secondary" role="button" data-bs-toggle="collapse" href="#collapseIDk">
                      <div class="row">
                        <div class="col">
                          <span id='item-date' class="card-title fw-medium py-1 fs-4">DD-MM-YYYY</span>
                        </div>
                        <div class="col text-end">
                          <span class="text-success fw-medium fs-4" id='item-total'></span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- This is the ONLY card template! All changes affect all cards. -->
                  <div hidden class="card my-1 bg-body-secondary border-0" id='item-template'>
                    <div class="card-header rounded-bottom-2 border border-1 card-border-colour-hack" role="button" data-bs-toggle="collapse" href="#collapseIDk">
                      <div class="row">
                        <div class="col">
                          <span id='item-date' class="card-title fw-medium py-1 fs-4">DD-MM-YYYY</span><br><span class="fw-medium" id='item-date-endrange'></span>
                        </div>
                        <div class="col-auto text-end">
                          <span class="text-success fw-medium fs-4" id='item-total'></span>
                        </div>
                      </div>
                    </div>
                    <div class="collapse" id="collapseIDk">
                      <div class="card card-body py-2" id='item-entry-container'>
                        <div hidden class="row align-items-center" id='item-entry' >
                          <div class="col-auto">
                           <span class="fw-light fs-6 fst-italic" id='item-description'></span>
                          </div>
                          <div class="col text-start">
                            <span class="fw-lighter fs-6 fst-italic text-secondary" id='item-units'></span>
                            <span hidden id='item-entry-at' class="fw-lighter fs-6 fst-italic text-secondary"> @ </span>
                            <span class="fw-lighter fs-6 fst-italic text-secondary" id='item-rate'></span>
                          </div>
                          <div class="col text-end">
                          <span class="fw-medium fs-6" id='item-amount'></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>  
                  <!-- END CARD TEMPLATE -->
                </div>
                <div class="col" id="notice-body-right">                
                </div>
              </div>
              <div class="row mb-4">
                <div class="col" id="notice-footer">
                  <!-- Not used currently-->
                </div>
              </div>
            </div>
            <div hidden class="row" id="fc-cardholder-template">
              <div class="col" id='card-container-left'>
              </div>
              <div class="col" id='card-container-right'>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>

    <!-- side-bar items (Compare and View) -->

        <!-- HEADER -->
        <li class="list-group-item bg-body-tertiary" id="side-bar-header"> 
          <span class="fs-4 fw-semibold">Studies</span>
        </li>

        <!-- COMPARE -->
        <li class="list-group-item text-left" id='side-bar-compare' role="button">
          <div class="row py-1">
            <div class='col'>
              <span class="fs-5 fw-normal p-1">Compare</span>
            </div>
            <div class="col-auto align-items-end">
              <button type="button" class="btn btn-sm btn-outline-secondary p-1 fw-light" id="sbv-delbutton"><img src="{{ url_for('static', filename='/icons/x.svg') }}" style="opacity: 0.5"></img></button>
            </div>
          </div>
          <div class="row">
            <div class="col text-truncate text-body-tertiary" id="icons-container">
              <img id='f1-file-icon' hidden src="{{ url_for('static', filename='/icons/file-earmark.svg') }}" style="opacity: 0.2">
              <img id='f1-roster-icon' hidden src="{{ url_for('static', filename='/icons/calendar3.svg') }}" style="opacity: 0.2">
              <span id='f1-title' class="fw-light fs-6"></span>
              <br>
              <img id='f2-roster-icon' hidden src="{{ url_for('static', filename='/icons/calendar3.svg') }}" style="opacity: 0.2">
              <img id='f2-file-icon' hidden src="{{ url_for('static', filename='/icons/file-earmark.svg') }}" style="opacity: 0.2">
              <span id='f2-title' class="fw-light fs-6"></span>
            </div>
          </div>
        </li>

        <!-- VIEW -->
        <div class="list-group-item text-left" id='side-bar-view' onclick="" role="button">
          <div class="row py-1">
            <div class='col'>
              <span class="fs-5 fw-normal p-1">View</span>
            </div>
            <div class="col-auto align-items-end">
              <button type="button" class="btn btn-sm btn-outline-secondary p-1 fw-light" id="sbv-delbutton"><img src="{{ url_for('static', filename='/icons/x.svg') }}" style="opacity: 0.5"></img></button>
            </div>
          </div>
          <div class="row">
            <div class="col text-truncate text-body-tertiary">
              <img src="{{ url_for('static', filename='/icons/file-earmark.svg') }}" style="opacity: 0.2"></img>
              <span class="fw-light fs-6" id="file-title"> ---.pdf</span>
            </div>
          </div>
        </div>

    <!-- #noContent - jumbotron. -->
    <div class="container my-5 text-body-tertiary" id="noContent">
      <div class="position-relative p-5 text-center bg-body-secondary border border-3 border-dashed rounded-5">
        <h1 class="">Welcome to Pay Checking Assistance Tool</h1>
        <p class="col-lg-7 mx-auto mb-4">
          To get started, create a new Study by selecting "New" in the toolbar at the top.
        </p>
        <p class="col-lg-7 mx-auto mb-4">
          Alternatively, select an existing Study from the sidebar to pick up where you left off.
        </p>
      </div>
    </div>

  </div>

<!-- OffCanvas (for explaining roster types-->
<div class="offcanvas offcanvas-bottom sam-offcanvas-above-modal" tabindex="-1" id="offcanvasRosterTypeExplainer">
  <div class="offcanvas-header">
    <h4 class="offcanvas-title fw-bold" id="offcanvasBottomLabel">What is "Roster Format"?</h4>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body small">
    <div class="row">
      <div class="col">
        <p>In order for the pay checker to accurately process a roster file selected by the user, it has to know some information ahead of time. One very useful piece of information is what 'format' a roster is in.
        This refers to the orientation of the rows and columns in the roster - specifically whether the <b>dates</b> are in rows or columns, where the <b>shift times are located</b>, and where the <b>employee's name</b> is located.
        There are three possible roster formats:</p>
      </div>
    </div>
    <div class="row">
      <div class="col border-secondary border-start border-top border-3 rounded-top-3 p-2">
        <div class='h5 fw-bold'>Type A</div>
        <p><span class='sam-text-ocre fw-bold'>Dates horizontally</span>, <span class="sam-text-sea fw-bold">shift times vertically</span>, and <span class="sam-text-watermelonrind fw-bold">names in the spreadsheet body</span>.</p>
      </div>
      <div class="col border-secondary border-start border-top border-3 rounded-top-3 p-2">
        <div class='h5 fw-bold'>Type B</div>
        <p><span class='sam-text-ocre fw-bold'>Dates horizontally</span>, <span class="sam-text-watermelonrind fw-bold">names vertically</span>, and <span class="sam-text-sea fw-bold">shift times in the spreadsheet body</span>.</p>
      </div>
      <div class="col border-secondary border-start border-top border-3 rounded-top-3 p-2">
        <div class='h5 fw-bold'>Type C</div>
        <p><span class="sam-text-watermelonrind fw-bold">Names horizontally</span>, <span class='sam-text-ocre fw-bold'>dates vertically</span>, and <span class="sam-text-sea fw-bold">shift times in the spreadsheet body</span>.</p>
      </div>
    </div>
    <div class="row">
      <div class="col p-2 border-start border-secondary border-3">
        <img class="" src="{{ url_for('static', filename='/pictures/TypeA.png') }}" style="width: 110%;"></img>
      </div>
      <div class="col p-2 border-start border-secondary border-3">
        <img src="{{ url_for('static', filename='/pictures/TypeB.png') }}" style="width: 110%"></img>
      </div>
      <div class="col p-2 border-start border-secondary border-3">
        <img src="{{ url_for('static', filename='/pictures/TypeC.png') }}" style="width: 110%"></img>
      </div>
    </div>
  </div>
</div>


<!-- Modals -->
<div class="modal fade" id="newEntryModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <div class="container-fluid">
          <div class='row p-0 justify-content-between'>
            <div class="col p-0">
              <h1 class="modal-title fs-3">New Study</h1>
            </div>
            <div class="col-auto p-0 align-self-center">
              <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <!-- MODAL FORM START -->
        <div class="row px-2">
          <div class="col mx-1 mb-2 py-2 rounded-2 bg-primary-subtle">
            <div class="mb-3">
              <legend class='badge bg-primary fs-4'>View Mode</legend>
              <div class="form-text">View a single payslip or roster in a neatly formatted, interactive package.</div>
            </div>
          </div>

          <div class="col mx-1 mb-2 py-2 rounded-2 sam-comparemode-theme-subtle">
              <div class="mb-3">
                <legend class='badge fs-4 sam-comparemode-theme'>Compare Mode</legend>
                <div class="form-text">Compare any two payslip-roster combinations. Generates a list of discrepancies between them, and displays it all in a neatly formatted, interactive package.</div>
              </div>
          </div>
        </div>
        <div class="row px-2">
          <div class="col mx-1 py-2">
            <div class="row rounded-2 bg-primary-subtle py-2 mb-3">
              <div class="col">
                <div class="mb-3">
                  <label for="viewMode-FS1" class="form-label fw-bold">File</label>
                  <div class="input-group">
                    <span class="input-group-text" onclick="fillFileSelect('#viewMode-FS1');" role='button'>Choose File</span>
                      <input type="text" class="form-control text-secondary" placeholder="No file chosen" id="viewMode-FS1" readonly>
                    </div>
                </div>

                <div class="mb-3 viewMode-roster-fields" hidden>
                  <div class="row">
                    <div class="form-label">Roster format <button class='btn btn-sm btn-secondary' data-bs-toggle="offcanvas" data-bs-target="#offcanvasRosterTypeExplainer" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem; opacity: 0.75;">?</button></div>
                    <div class="col pe-1">
                      <div class="d-grid">
                        <input type="radio" class="btn-check sam-should-be-checked" name="viewMode-RT" id="viewMode-typeA" autocomplete="off" contentz="A" checked>
                        <label class="btn btn-outline-primary" for="viewMode-typeA">Type A</label>
                      </div>
                    </div>
                    <div class="col px-1">
                      <div class="d-grid">
                        <input type="radio" class="btn-check" name="viewMode-RT" id="viewMode-typeB" autocomplete="off" contentz="B">
                        <label class="btn btn-outline-primary" for="viewMode-typeB">Type B</label>
                      </div>
                    </div>
                    <div class="col ps-1">
                      <div class="d-grid">
                        <input type="radio" class="btn-check" name="viewMode-RT" id="viewMode-typeC" autocomplete="off" contentz="C">
                        <label class="btn btn-outline-primary" for="viewMode-typeC">Type C</label>
                      </div>
                    </div>
                  </div> 
                </div>
                <div class="mb-3 viewMode-roster-fields" hidden>
                  <label for="viewMode-empName" class="form-label">Your name</label>
                  <input type="text" class="form-control clear-on-reset" id="viewMode-empName" >
                  <div class="form-text">Ensure it matches exactly as your name appears in the roster.</div>
                </div>
                <div class="mb-3 viewMode-roster-fields" hidden>
                  <div class="row">
                    <div class="col">
                      <label for="viewMode-startDate" class="form-label">Start date</label>
                      <input type="text" class="form-control clear-on-reset" id="viewMode-startDate" placeholder="DD-MM-YYYY">
                      <div class="invalid-feedback">Invalid date.</div>
                    </div>
                    <div class="col">
                      <label for="viewMode-endDate" class="form-label">End date</label>
                      <input type="text" class="form-control clear-on-reset" id="viewMode-endDate" placeholder="DD-MM-YYYY">
                      <div class="invalid-feedback">Invalid date.</div>
                    </div>
                    <div class="form-text">Ensure you are always entering dates that correspond with a two-weekly pay period.</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row"> 
              <div class="col px-0">
                <button type="button" class="btn btn-outline-primary" onclick="newViewmode();">Create View</button>
              </div>
            </div>
          </div>
          <div class="col mx-1 py-2">
              <!-- LEFT -->
            <div class="row sam-comparemode-theme-subtle rounded-2 py-2 mb-3">
              <div class="col">
                <div class="mb-3">
                  <label for="compareMode-FS1" class="form-label fw-bold">Left side</label>
                  <div class="input-group mb-3">
                    <span class="input-group-text" onclick="fillFileSelect('#compareMode-FS1')" role='button'>Choose File</span>
                    <input type="text" class="form-control text-secondary" placeholder="No file chosen" id="compareMode-FS1" readonly>
                  </div>
                </div>
                <div class="mb-3 compareMode-F1-roster-fields" hidden>
                  <div class="row">
                    <div class="form-label">Roster format <button class='btn btn-sm btn-secondary' data-bs-toggle="offcanvas" data-bs-target="#offcanvasRosterTypeExplainer" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem; opacity: 0.75;">?</button></div>
                    <div class="col pe-1">
                      <div class="d-grid">
                        <input type="radio" class="btn-check sam-should-be-checked" name="compareMode-RT1" id="compareMode-1typeA" autocomplete="off" contentz="A" checked>
                        <label class="btn sam-comparemode-theme-btnoutline" for="compareMode-1typeA">Type A</label>
                      </div>
                    </div>
                    <div class="col px-1">
                      <div class="d-grid">
                        <input type="radio" class="btn-check" name="compareMode-RT1" id="compareMode-1typeB" autocomplete="off" contentz="B">
                        <label class="btn sam-comparemode-theme-btnoutline" for="compareMode-1typeB">Type B</label>
                      </div>
                    </div>
                    <div class="col ps-1">
                      <div class="d-grid">
                        <input type="radio" class="btn-check btn-outline-secondary" name="compareMode-RT1" id="compareMode-1typeC" autocomplete="off" contentz="C">
                        <label class="btn sam-comparemode-theme-btnoutline" for="compareMode-1typeC">Type C</label>
                      </div>
                    </div>
                  </div> 
                </div>
                <div class="mb-3 compareMode-F1-roster-fields" hidden>
                  <label for="compareMode-empName" class="form-label">Your name</label>
                  <input type="text" class="form-control clear-on-reset" id="compareMode-empName">
                  <div class="form-text">Ensure it matches exactly as your name appears in the roster.</div>
                </div>
                <div class="mb-3 compareMode-F1-roster-fields" hidden>
                  <div class="row">
                    <div class="col">
                      <label for="compareMode-startDate" class="form-label">Start date</label>
                      <input type="text" class="form-control clear-on-reset" id="compareMode-startDate" placeholder="DD-MM-YYYY">
                      <div class="invalid-feedback">Invalid date.</div>
                    </div>
                    <div class="col">
                      <label for="compareMode-endDate" class="form-label">End date</label>
                      <input type="text" class="form-control clear-on-reset" id="compareMode-endDate" placeholder="DD-MM-YYYY">
                      <div class="invalid-feedback">Invalid date.</div>
                    </div>
                    <div class="form-text">Ensure you are always entering dates that correspond with a two-weekly pay period.</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row sam-comparemode-theme-subtle rounded-2 py-2 mb-3">
              <div class="col">
                <!-- RIGHT -->
                <div class="mb-3">
                  <label for="compareMode-FS2" class="form-label fw-bold">Right side</label>
                  <div class="input-group mb-3">
                    <span class="input-group-text" onclick="fillFileSelect('#compareMode-FS2');" role='button'>Choose File</span>
                    <input type="text" class="form-control text-secondary" placeholder="No file chosen" id="compareMode-FS2" readonly>
                  </div>
                </div>
                <div class="mb-3 compareMode-F2-roster-fields" hidden>
                  <div class="row">
                    <div class="form-label">Roster format <button class='btn btn-sm btn-secondary' data-bs-toggle="offcanvas" data-bs-target="#offcanvasRosterTypeExplainer" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem; opacity: 0.75;">?</button></div>
                    <div class="col pe-1">
                      <div class="d-grid">
                        <input type="radio" class="btn-check sam-should-be-checked" name="compareMode-RT2" id="compareMode-2typeA" autocomplete="off" contentz="A" checked>
                        <label class="btn sam-comparemode-theme-btnoutline" for="compareMode-2typeA">Type A</label>
                      </div>
                    </div>
                    <div class="col px-1">
                      <div class="d-grid">
                        <input type="radio" class="btn-check" name="compareMode-RT2" id="compareMode-2typeB" autocomplete="off" contentz="B">
                        <label class="btn sam-comparemode-theme-btnoutline" for="compareMode-2typeB">Type B</label>
                      </div>
                    </div>
                    <div class="col ps-1">
                      <div class="d-grid">
                        <input type="radio" class="btn-check btn-outline-secondary" name="compareMode-RT2" id="compareMode-2typeC" autocomplete="off" contentz="C">
                        <label class="btn sam-comparemode-theme-btnoutline" for="compareMode-2typeC">Type C</label>
                      </div>
                    </div>
                  </div> 
                </div>
                <div class="mb-3 compareMode-F2-roster-fields" hidden>
                  <label for="compareMode-empName2" class="form-label">Your name</label>
                  <input type="text" class="form-control clear-on-reset" id="compareMode-empName2" >
                  <div class="form-text">Ensure it matches exactly as your name appears in the roster.</div>
                </div>
                <div class="mb-3 compareMode-F2-roster-fields" hidden>
                  <div class="row">
                    <div class="col">
                      <label for="compareMode-startDate2" class="form-label">Start date</label>
                      <input type="text" class="form-control clear-on-reset" id="compareMode-startDate2" placeholder="DD-MM-YYYY">
                      <div class="invalid-feedback">Invalid date.</div>
                    </div>
                    <div class="col">
                      <label for="compareMode-endDate2" class="form-label">End date</label>
                      <input type="text" class="form-control clear-on-reset" id="compareMode-endDate2" placeholder="DD-MM-YYYY">
                      <div class="invalid-feedback">Invalid date.</div>
                    </div>
                    <div class="form-text">Ensure you are always entering dates that correspond with a two-weekly pay period.</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row"> 
              <div class="col px-0">
                <button type="button" onclick="newComparemode()" class="btn sam-comparemode-theme-btnoutline">Create Compare</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
  </div>
</div>

<div class="modal fade" data-bs-backdrop="true" data-bs-keyboard="true" id="settingsModal" tabindex="-2">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <div class="container-fluid">
          <div class='row p-0 justify-content-between'>
            <div class="col p-0">
              <h1 class="modal-title fs-3">Configure</h1>
            </div>
            <div class="col-auto p-0 align-self-center">
              <button id="settingsClose" type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <!-- MODAL FORM START -->
        <div class="row px-2">
          <div class="col">
            <div class="alert alert-warning" id="settings-firsttime-alert" hidden role="alert">
              As this is your first time using PayCAT, please enter to following values to proceed.
            </div>
          </div>
        </div>
        <div class="row px-2">
          <div class="col me-4">
            <label for="wage-base-rate-input" class="form-label">Base rate</label>
            <div class="input-group mb-3">
              <span class="input-group-text">$</span>
              <input id="wage-base-rate-input" type="text" class="form-control">
              <span class="input-group-text rounded-end-2">/ hr</span>
              <div id="wage-base-rate-invalidDP" class="invalid-feedback" hidden>
                Please ensure 4 decimal places are recorded.
              </div>
              <div id="wage-base-rate-invalidFormat" class="invalid-feedback" hidden>
                Please enter a valid number.
              </div>
              <div class="form-text">
                Your base rate is listed on your payslip. It is your pay rate per hour, to four decimal places.
              </div>
            </div>
          </div>
          <div class="col ms-4">
            <label for="wage-base-rate-input" class="form-label">Usual hours</label>
            <!--<button class="btn btn-secondary fw-light text-secondary" type="button" data-bs-container="body" data-bs-toggle="popover" data-bs-title="CJhh" data-bs-content="A name jere">(?)</button> -->
            <div class="input-group mb-3">
              <input id="usual-hours-input" type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
              <span class="input-group-text rounded-end-2">hours</span>
              <div id="usual-hours-invalidFormat" class="invalid-feedback" hidden>
                Please enter the amount of hours you work in a normal shift as a whole number.
              </div>
              <div id="usual-hours-invalidSemantically" class="invalid-feedback" hidden>
                That doesn't seem like it would be considered your 'usual hours'.
              </div>
              <br>
              <div class="form-text" id='fuckaround'>
                Your usual hours is defined as the amount of hours you would work on "an ordinary working day".
              </div>
            </div>
          </div>
        </div>
        <div class="row px-2 mb-3">
          <div class="col">
            <label for="employee-name-input" class="form-label">Your name</label>
            <input id="employee-name-input" type="text" class="form-control">
            <div class="form-text">
              Ensure it matches exactly as your name appears in the roster.
            </div>
            
          </div>
        </div>
        <div class="row px-2">
          <label for="settings-state-WA" class="form-label">State</label>
          <div class="col pe-1">
            <div class="d-grid">
              <input type="radio" class="btn-check" name="settings-statecheck" id="settings-state-WA" autocomplete="off" contentz="WA" checked>
              <label class="btn btn-outline-primary" for="settings-state-WA">WA</label>
            </div>
          </div>
          <div class="col ps-1">
            <div class="d-grid">
              <input type="radio" class="btn-check" name="settings-statecheck" id="settings-state-NT" autocomplete="off" contentz="NT">
              <label class="btn btn-outline-primary" for="settings-state-NT">NT</label>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button id="settingsCloseLowbutton" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" id="settings-save-button" class="btn btn-primary" onclick="submitSettings('settingsModal')">Save</button>
      </div>
    </div>
  </div>
</div>
  </div>
</div>
    
<script type="text/javascript">displayNoSelection(); updateSidebarList()</script>

    <!--
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    -->
  </body>
</html>
